.post {
    width: 80%;
    margin: 0 auto;

    &__encabezado {
        font-weight: 700;
    }

    &__cuerpo {
        background-color: #F0F0F0;
        padding: 40px;
    }

    &__imagen {
        display: block;
        margin: 30px auto;
        width: 60%;
        border-radius: 25px;
    }
}