.subscription {
    padding: 2px 40px;
    margin: 60px auto;
    border-radius: 20px;
    width: 80%;
    background-color: $primary-color;

    &__description {
        color: white;
        font-weight: 700;
    }

    &__form {
        padding-bottom: 20px;
    }

    &__input {
        width: 50% !important;
    }

    &__button {
       float: right;
        width: 25% !important;
    }
}